configuration {
    font: "JetBrains Mono 11";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "";
    drun-display-format: "{name}";
    disable-history: false;
    sidebar-mode: false;
}

@theme "/home/maya/.config/rofi/theme.rasi"
